* {margin: 0; padding: 0; outline: none;}
body {font-family: 'Nunito', sans-serif;}
ul,ol {list-style: none;}
img {border: none; vertical-align: top;}
a {text-decoration: none;}
table {border-spacing: 0; border-collapse: collapse;}