/* clearfix */
.clearfix:before,
.clearfix:after {
	content:'';
	display:block;
}
.clearfix:after {
	clear: both;
}
#brand dl {
	background:url("../images/opacity.png") no-repeat;
}
#product .cont .cont_image .sub_image li.on:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border:2px solid #FFA356;
}